
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');



body{
    font-family: 'roboto', sans-serif;
    width: 100%;
    
    margin: 0;
    padding: 0;
    
    
}
#bloc-page{
    
    margin: 0;
    width: 100%;
    
    
}
.loadin_spinner{
 position: fixed;
 left: 0; right: 0; top: 0; bottom: 0;
 width: 100%;
 height: 100%;
 
 background: white;
  z-index: 2; 

    -webkit-animation-name: fadeOut;
  animation-name: fadeOut;
  -webkit-animation-duration: 1s;
  animation-duration: 1s;
  -webkit-animation-fill-mode: both;
  animation-fill-mode: both;
  animation-delay: 2s;
  
 
    
}

.spinner-border{
    position: fixed;
    margin: auto;
    top: 0; bottom: 0; right: 0; left: 0;
    border: 10px solid transparent;
    border-left-color: #99E2D0;
    border-right-color: #99E2D0;
    display: flex;
    justify-content: center;
    align-items: center;
    
    border-radius: 80px;
    width: 100px;
    height: 100px;
    animation: spinner 1s linear infinite;
    z-index: 1; 
    
    


    
    

}
@keyframes spinner{
    0%{ transform: rotate(0deg);opacity: 1; }
    100%{ transform: rotate(360deg); opacity: 1;}


}

  @-webkit-keyframes fadeOut {
  0% {opacity: 0.9;}
  100% {opacity: 0; visibility: hidden;}
  }
  @keyframes fadeOut {
  0% {opacity: 0.9;}
  100% {opacity: 0; visibility: hidden;}
  } 
.spinner-center{
   
    border: 5px solid transparent;
    width: 50px;
    height: 50px;
   
    border-radius: 80px;
    border-top-color: #9356DC;
    border-bottom-color: #FF79DA;
} 

section{
    
}
.img-header{
   width: 100%;
   font-family: 'Shrikhand', sans-serif;

}
a{
    text-decoration: none;
}
.img-header h1{
    text-align: center;
    color: black;
    font-size: 2rem;
}
input{
    
    padding: 1rem;
    background: #f2f2f2;
    color: black;
    text-align: center;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
.localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    
    background-color: #f2f2f2;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
}
.icon-localisation{
    background: #f2f2f2;
    position: relative;
    
}
.search-localisation{
    padding: 0;
}
a{
    color: black;
}
/*----------------SECTION 1-------------*/  
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
   
    height: 320px;
    background: #fafafa;
}
.section1 h2{
    width: 260px;
    text-align: center;
    margin: 0;
    font-weight: bold;
    
}
.section1 p{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.section1 a{
    text-decoration: none;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
    border-radius: 45px;
    padding: 15px;
    background:linear-gradient(
        180deg, #ff79da 0%, #9356dc 100%);
    color: white;
    font-weight: bold;
    -webkit-box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.62); 
box-shadow: 0px 0px 15px 2px rgba(0,0,0,0.62);
}
.section1 a:hover{
    opacity: 0.7;
}
/*----------------SECTION 2------------------*/
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    
    
    
}
.section2 h2{
    font-weight: bold;
    margin-left: 15px;
}
.menu{
    display: flex;
    align-items: center;
    
   border-radius: 20px;
   box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
   background: #fafafa;
   margin-left: 15px;
   
   margin-bottom:  20px;
}
.number{
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
    border-radius: 500px;
    padding: 3px 8px 3px 8px;
    position: relative;
    right: 10px;
    background: #9356DC;
    color: white;
}
.icon-menu{
    margin-left: 10px;
    color: grey;
}
.text-menu{
    margin-left: 13px;
    font-weight: bold;
    color: black;
}
.menu:hover{
    transform: scale(1.1);
	transition: ease 0.4s;
}
/*------------------responsive section 2---------------------*/
@media(min-width: 768px){
    .section2{
        flex-direction: row;
        align-items: flex-end;
       
        
        
    }
    .menu{
       margin-right: 2rem;
       padding-right: 3rem;
        
    }
    .menu a{
       
    }
}
/*----------------section 3----------------------*/
.section3{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    background: #f2f2f2;
    flex-wrap: wrap;
    
    
    

}
.img-restaurants{
   display: flex;
   
    width: 300px;
    max-height: 280px;
    background: white;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
    border-radius: 20px;
    
      
    
    
}
.img-restaurants img{
    width: 100%;
    max-height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
    
}


    

.bloc-restaurants{
    display: flex;
    flex-direction: column;
    
    
    
    border-radius: 20px;
    margin-bottom: 20px;
    max-width: 300px;
    
    
    
}    
.bloc-description{
    display: flex;
    align-items: center;
    justify-content: space-between;   
    background: white;
    border-bottom-left-radius: 20px;
    border-bottom-right-radius: 20px;
    
    position: relative;
    height: 60px;
    padding: 0 15px 0 15px;
    max-width: 280px;
}
.name h3{
    margin: 0;

}
.name p{
    margin: 0;
}
.heart{
    font-size: 20px;
    position: absolute;
    left: 260px;
}
.heart-2{
    font-size: 20px;
    position: absolute;
    right: 19px;
    background: rgb(147,86,220);
background: linear-gradient(90deg, rgba(147,86,220,1) 0%, rgba(255,121,218,1) 70%);
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
    opacity: 0;
    
}
a:hover .heart{
    
    color:white;
    opacity: 0;
        background-clip: text;
        -webkit-background-clip: text;
        color: transparent;
}
a:hover .heart-2{
    font-size: 22px;
    opacity: 1;
    -webkit-animation-name: fadeIn;
    animation-name: fadeIn;
    -webkit-animation-duration: 0.7s;
    animation-duration: 0.7s;
    -webkit-animation-fill-mode: both;
    animation-fill-mode: both;
    }
    @-webkit-keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    }
    @keyframes fadeIn {
    0% {opacity: 0;}
    100% {opacity: 1;}
    
           
}
.new{
    border: 1px solid #99E2D0;
    background-color: #99E2D0;
    padding: 10px;
    position: absolute;
    bottom: 190px;
    left: 200px;
    
}
/*---------------responsive section 3-------------*/
@media(min-width: 768px){
    .section3{
      justify-content: flex-start;  
    }
    .bloc-cards{
        display: flex;
        width: 768px;
        height: auto;
        
        flex-wrap: wrap;
        justify-content: space-evenly;
        align-items: flex-end;
    }
}

/*---------------footer--------------*/
footer{
    background: #353535;
    padding: 15px 30px 15px 30px;
    
}
footer h2{
    font-family: 'Shrikhand', sans-serif;
    margin-top: 0;
    color: white;
}
.lien-footer a{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: white;
    font-family: 'roboto', sans-serif;
}
.utensils{
    display: flex;
}
.utensils i{
    margin-right: 10px;
    color: white;
}
.hand{
    display: flex;
}
.hand i{
    margin-right: 10px;
    color: white;
}
/*-------------responsive footer--------------*/
@media (min-width: 768px){
    .lien-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}