
@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400&display=swap');



body{
    font-family: 'roboto', sans-serif;
    width: 100%;
}
.img-header{
   width: 100%;
   font-family: 'Shrikhand', sans-serif;

}
a{
    text-decoration: none;
}
.img-header h1{
    text-align: center;
    color: black;
    font-size: 2rem;
}
input{
    width: 100%;
    padding: 1rem;
    background: #f2f2f2;
    color: black;
    text-align: center;
    border: none;
    font-size: 14px;
    font-weight: bold;
}
.localisation {
    display: flex;
    align-items: center;
    justify-content: center;
    width: 100%;
    background-color: #f2f2f2;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
}
.icon-localisation{
    background: #f2f2f2;
    position: relative;
    left: 30px;
}
.search-localisation{
    padding: 0;
}
/*----------------SECTION 1-------------*/  
.section1{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
    align-items: center;
    width: 100%;
    height: 320px;
    background: #fafafa;
}
.section1 h2{
    max-width: 260px;
    text-align: center;
    margin: 0;
    font-weight: bold;
    
}
.section1 p{
    font-size: 16px;
    text-align: center;
    font-weight: bold;
}
.section1 a{
    text-decoration: none;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
    border-radius: 45px;
    padding: 15px;
    background:linear-gradient(
        180deg, #ff79da 0%, #9356dc 100%);
    color: white;
    font-weight: bold;
}
/*----------------SECTION 2------------------*/
.section2{
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: 92%;
    
}
.section2 h2{
    font-weight: bold;
}
.menu{
    display: flex;
    align-items: center;
    
   border-radius: 20px;
   box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
   background: #fafafa;
   width: 100%;
   margin-bottom:  20px;
}
.number{
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
    border-radius: 500px;
    padding: 3px 8px 3px 8px;
    position: relative;
    right: 10px;
    background: #9356DC;
    color: white;
}
.icon-menu{
    margin-left: 10px;
    color: grey;
}
.text-menu{
    margin-left: 13px;
    font-weight: bold;
    color: black;
}
/*------------------responsive section 2---------------------*/
@media (min-width: 768px){
    .section2{
        flex-direction: row;
        width: 100%;
        align-items: flex-end;
       justify-content: center;
       margin-right: 2rem;
        
        
    }
    .menu {
        flex-direction: row;
        
        
    
      
    }
    .bloc-menu {
        display: flex;
        flex-direction: column;
    }
   
  
    
}
@media (min-width: 1024px){
    .menu a{
      margin-right: 20px; 
    }

}
/*----------------section 3----------------------*/
.section3{
   display: flex;
   flex-direction: column;
   justify-content: center;
   align-items: center;
    background: #f2f2f2;
    width: 100%;
    
}
.img-restaurants{
   display: flex;
   flex-direction: column;
   
    height: 280px;
    background: white;
    box-shadow: 0px 0px 10px 0px rgb(0 0 0 / 16%);
    border-radius: 20px;
    width: 100%;  
    margin-bottom: 3rem;
    
}
.img-restaurants img{
    width: 100%;
    height: 200px;
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    object-fit: cover;
}
.img-restaurants h3{
    margin: 7px 0 0 10px;
    font-weight: bold;
}
.img-restaurants p{
    margin: 5px 0 0 10px;
}
.img-restaurants i{
    position: relative;
    left: 240px;
    bottom: 40px;
    font-size: 30px;
    
}
.bloc-restaurants{
    display: flex;
    flex-direction: column;
    width: 100%;
}    
.section3 h2{
       

}
/*---------------responsive section 3-------------*/
@media (min-width: 768px){
    .bloc-cards{
       display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        align-items: center;
        justify-content: center;
        height: auto;
        border: 1px solid red;
        width: 100%;
        
    }
    .img-restaurants{
        margin: 1rem;
        
    }
    .section3{
        width: 100%;
    }
  
    
    
    
}
/*---------------footer--------------*/
footer{
    background: #353535;
    padding: 15px 30px 15px 30px;
}
footer h2{
    font-family: 'Shrikhand', sans-serif;
    margin-top: 0;
    color: white;
}
.lien-footer a{
    display: flex;
    flex-direction: column;
    margin-bottom: 10px;
    color: white;
    font-family: 'roboto', sans-serif;
}
.utensils{
    display: flex;
}
.utensils i{
    margin-right: 10px;
    color: white;
}
.hand{
    display: flex;
}
.hand i{
    margin-right: 10px;
    color: white;
}
/*-------------responsive footer--------------*/
@media (min-width: 768px){
    .lien-footer{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
    }
}